body {
	font-family: 'Roboto', sans-serif;
}

.container {
	text-align: center;
}

.container p {
	margin: 1em 10em;
	line-height: 2.4em;
	font-size:1.2rem;
	font-weight: 100;
}

.container p::first-letter {
	font-size: 2.5em;
    font-weight: 900;
    color: #AA0000;
    vertical-align: text-top;
    letter-spacing: 0.25em;
}


.container figure {
	margin: 0.7em 1em;
	float:left;
	width: 30%;
}

.container figure img {
	width: 100%;
}

.container figure figcaption {
	font-size: 0.5em;
	text-align: right;
	padding-right: 5.8em;
}


@media (max-width: 30em) { /* mobile portrait */
    .container figure {
    	float: none;
    	margin: 1em auto;
    }

    .container figure figcaption {
    	padding: 0;
    }
    .container p {
    	margin: 1em 3em;
        font-family: sans-serif;
        font-size: 1em;
    	line-height: 2.2em;
    	text-align: center;
    }
}

@media (min-width: 30em) and (max-width: 48em) { /* mobile landscape */

    .container figure figcaption {
        padding: 0;
    }
  
    .container p {
        font-family: sans-serif;
        font-size: 1em;
    	line-height: 2.2em;
        margin-left: 1em;
    	text-align: left;
    }
}

@media (min-width: 48em) and (max-width: 62em){  /* tablet */
    .container figure figcaption {
        padding: 0;
    }
    
	.container p {
		font-size: 1em;
		margin-left: 1em;
		text-align: left
	}
}