		/* fonts */
		body {
			font-family: sans-serif;
		}

		header cite {
			font-size: 0.25em;
			font-style: italic;
			font-weight: 100;
		}

		p.desc {
			font-weight: 100;
		}

		div.edit {
			font-size: 0.75em;
		}

		/* layout */
		div.wrapper {
			margin: auto;		
			width: 40em;
			max-width: 100%;
		}

		header h1 {
			text-align: center;
		}

		header cite {
			margin-left: 1em;
		}

		div.player {
			margin: 0.5em auto;
			padding: 1em;
		}

		div.edit label {
			margin-left: 1em;
			margin-right: 1em;
		}

		div.edit label:first-child {
			margin-left: 0;
		}

		ol.clips li {
			margin: 0.5em 0;
			padding: 0.5em 0;
		}

		ol.clips span {
			margin: 0 0.5em;
		}

		ol.clips button {
			margin: 0 0.5em;
		}

		button {
			padding: 0.75em 1em;
    		line-height: 1.5em;
		}

		button.save {
			margin-left: 1em;
		}

		video {
			width: 40em;
			max-width: 100%; 
		}

		p.desc {
			padding: 0 2em;
		}

		/* colors */
		header cite {
			color: #c0c0c0;
		}

		div.player {
			background-color: #000;
			border: 1px solid #e0e0e0;
			border-radius: 1em;
		}

		ol.clips {
			border-top: 1px solid #e0e0e0;
			border-bottom: 1px solid #e0e0e0;
		}

		ol.clips li:nth-child(even) {
			background-color:  #e0e0e0;
		}

		ol.clips li:last-child{
			border: 0;
		}

		button {
			border: 0;
			border-radius: 0.5em;
		}

		button.play {
			background-color: #009900;
		}

		button.play:before {
			content:'play';
		}

		button.edit {
			background-color: #ffcc00;
		}

		button.edit:before {
			content:'edit';
		}

		button.remove {
			background-color: #cc3300;
		}

		button.remove:before {
			content:'remove';
		}

		button.save {
			background-color: #0099cc;
		}

		button.save:before {
			content:'save'
		}

		/* decoration */

		div.circle {
			position: absolute;
			top: -15em;
			left: -15em;
			width: 30em;
			height: 30em;
			background-color: #ff9933;
			border-radius: 15em;
			z-index: -1;
		}


		@media (min-width: 30em) and (max-width: 48em){

			div.wrapper {
				width: auto;
				margin: 0;
			}

			header {
				float: right;
				width: 40%;
				margin-top:3em;
			}

			header h1 {
				font-size: 1.5em;
				text-align: left;
				margin-top: 0;
			}
			
			div.player {
				float:left;
				width: 50%;
				margin-top:3em;
			}

			p.desc {
				font-size: 0.8em;
				float: right;
				width: 40%;
				padding: 0;
			}
		}

		@media (min-width: 48em) and (max-width: 60em) { /* tablet portrait */

			header {
				float: none;
				width: auto;

			}

			header h1 {
				font-size: 2em;
				text-align: center;
			}

			div.wrapper {
				width: 40em;
				height: 33em;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				margin: auto;
			}

			div.player {
				float: none;
				margin-top: auto;
				width: auto;
			}

			p.desc {
				float: none;
				width: auto;
				font-size: 1.5em;
				padding: 0 2em;
			}

		}

		@media (min-width: 60em) and (max-width: 64em) { /* tablet landscape */
			div.wrapper {
				width: 40em;
				height: 33em;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				margin: auto;
			}

			p.desc {
				font-size: 1.5em;
			}
		}