div {
	position: fixed; /* works better in mobile */
	top: 50%;
	left: 50%;
	margin-top: -1.5em;
	margin-left: -5em;
	font-family: sans-serif;
	text-align: right;
}

a {
    text-decoration: none;
    color: #808080;
}

h1 {
	margin: 0.1em 0em;
}

h1 a {
	font-weight: lighter;
	color: #000;
}

b {
	font-family: serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 1.3rem;
	color: #808080;
}

@media (max-width: 30em) { /* mobile portrait */
    
}

@media (min-width: 30em) and (max-width: 48em) { /* mobile landscape */
    
}

@media (min-width: 48em) and (max-width: 60em) { /* tablet portrait */
    
}
