div {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.67em;
	margin-left: -2.8em;
	font-family: sans-serif;
	text-align: right;
}

h1 {
	margin: 0.1em 0em;
	font-weight: lighter;
}

a {
	color: #000;
    text-decoration: none;
} 

a[rel=me] {
	font-family: serif;
    font-style: italic;
    font-size: 0.85em;
	color: #808080;
}

@media (max-width: 40em) { /* mobile */
    h1 {
		font-size: 1.2rem;
    }

    a[rel=me]{
    	font-size: 1rem;
    }

}