/* buttons */

.btn.snapp.round, .btn.snapp.round:focus, .btn.snapp.round:active, {
	background-color: #fff;
	color: #0fa7c1;
	border-color: #0fa7c1;
	border-radius: 1.5em;
	box-shadow: 0 0;
}

.btn.snapp {
	border-radius: 2px;
	box-shadow: 3px 3px 5px silver;
}

.btn.snapp:hover {
	border-color: transparent;
	background-color: #0fa7c1;
	color: #fff;
}

.btn.snapp:active {
	box-shadow: 0 0;
}
