/* layout */

#gender ul {
	width: 66.6666%;
}

#gender li {
	width: 50%;
}

#phone-type li {
	width: 33.3333%;
}

#alt-phone-type li {
	width: 33.3333%;
}

#best-time-options li {
	width: 50%;
}

#id-doc li {
	width: 33.3333%;
}

#citizenship li {
	width: 33.3333%;
}