.container header figure {
  width:25%;
  float: right;
}
.container header figure figcaption {
  font-size: 0.5em;
}
.container {
  text-align: left;
  width: 70%;
}

.container.wide {
  width: 90%;
}

.container h1 {
  padding-top: 2em;
  text-align: center
}

.container h1 b {
  vertical-align: super;
}

.container h2 {
  margin: 2.5em 0;
}

.container p {
  line-height: 2em;
}

.container p b {
  color: #000;
  font-size: 1em;
    letter-spacing: normal;
    top: 0;
    font-weight: 100;
}

.container ul, ol {
  line-height: 2em;
    font-size: 1.2rem;
    font-weight: 100;
}

.container ul b, ol b{
  font-weight: 400;
}

.container .note {
  font-size: 0.8em;
}

.container .note-lg {
  font-size: 0.95em;
}

.container figure {
  margin: 2.5em auto;
  width: 100%;
  float: none;
}

.container figure figcaption {
  line-height: 1.5em;
    font-size: 1rem;
    font-weight: 100;
  text-align: left;
}

.container figure figcaption b {
  font-weight: 400;
}

.container .leading span, .container .line-height span {
  padding-left: 3em;
  font-weight: 400;
}

.container .leading .up {
  vertical-align: 4px;
    font-size: .8em;
    font-weight: 400;
}

.container .leading .dn {
    font-size: 0.8em;
    font-weight: 400;
}

.container figure.small img {
    width: 70%;
}

.container .example {
  font-weight: 400;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.container .example span {
  color: hsl(0, 50%, 50%);
}

header .back {
    height: 9rem;
    background: hsla(0, 0%, 70%, 0.3);
 }

header .content {
  height: 10rem;
  width: 20rem;
  background: hsla(200, 50%, 70%, 1);
  color: hsla(200, 30%, 50%, 1);
  border-bottom-right-radius: 0.5rem;
  text-align: center;
}

header .title {
  font-weight: 900;
  font-size: 4em;
}

header .title b:nth-child(1) {
  margin-right: -0.9rem;
    font-size: 1.5em;
}

header .title b:nth-child(2){
  vertical-align: -1.4rem;
}

header .title span {
  font-weight: 100;
  font-size: 0.9rem;
  float: right;
    margin-right: 1rem;
    color: hsla(0, 50%, 0%, 0.5)
}

footer .content {
  font-size:.9em;
  background:hsla(200, 10%, 85%, 0.3);
  padding: 0 2em;
  font-weight: 100;
    line-height: 2em;
    height: 2.5em;
}

footer .left {
  float:left;
}

footer .right {
  position:fixed;
  bottom: 0.5em;
  right: 1em;
}

footer .right a {
  color: hsla(0, 50%, 0%, 0.5);
    text-decoration: none;
}

.top {
  position: fixed;
    bottom: 4em;
    right: 2em;
    border: 1px solid hsl(0, 0%, 80%);
}

.top a {
    color: hsl(0, 0%, 80%);
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5rem;
    font-weight: 100;
    position: relative;
    top: .3rem;
    cursor: pointer;
}

@media (max-width: 46em){

  .container header figure {
      display: none;
  }

  .container h2 {
      margin: 1.5em 0;
  }

  .container p {
    line-height: 2em;
  }

  .container ul, .container ol {
      font-family: sans-serif;
      font-size: 1em;
      line-height: 2em;
  }

  .container figure figcaption {
    font-family: sans-serif;
      font-size: 0.8em;
      line-height: 1.5em;
  }

  .container figure.small img {
      width: 100%;
  }
  header .content{
    border-radius: 0;
    width: auto;
  }
}

@media (max-width: 30em){

  .container {
    width: 90%;
  }

  .container p {
      margin: 1em 0em;
      text-align: justify;
  }

  .container figure figcaption {
      text-align: justify;
  }

  footer .right {
    position:static;
    float: right;
  }

  .top {
    display: none;
  }

}
